.input_searchbar {
    width: 70%;
    height: 4rem;
    margin: 1% .5% 1% 2%;
    font-size:200%;
    font-family: 'Indie Flower', cursive;
}

.button_searchbar {
    height: 3rem;
    margin: 1.5% .5% 1% 2%;
    background-color: darkcyan;
    color: whitesmoke;
    padding: 1%;
    border: 1px solid wheat;
    border-radius: 5%;
}
.button_searchbar:hover {
    height:3.1rem;
    background-color: darkblue;
}